<div class="container-fluid shadow-sm">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
<div>
  <a routerLink="/public/home">Home</a>
  <a routerLink="/auth/login"[queryParams]="{name:'waqar',email:'sample@live.com'}">Login</a>
  <a routerLink="/public/all-books">all books</a>
  <a [routerLink]="['/public/book-details',1,'author',3]">details from app</a>
</div>
<router-outlet></router-outlet>
